<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(アルバム一覧 )}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>メニュー一覧 </h3>
    <table>
        <thead>
            <tr>
                <th>メニューID </th>
                <th>メニュー </th>
                <th>値段 </th>
                <th>施術時間 </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menu : ${menus}">
                <td><span th:text="${menu.menuId}">menu id</span></td>
                <td><span th:text="${menu.menu}">menu</span></td>
                <td><span th:text="${menu.price}">menu price</span>円</td>
                <td><span th:text="${menu.cutTime}">cut time</span></td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>