<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(アルバム一覧 )}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>予約確認 </h3>
    <table>
        <thead>
            <tr>
                <th>予約店舗名</th>
                <th>予約者名</th>
                <th>指名</th>
                <th>メニュー </th>
                <th>価格 </th>
                <th>予約時間 </th>
                <th>購入品 </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservedinfo : ${reserved}">
                <td><span th:text="${reservedinfo.shopName}">shopName</span></td><br>
                <td><span th:text="${reservedinfo.userName}">userName</span>様</td><br>
                <td><span th:text="${reservedinfo.staffName}">staffName</span></td><br>
                <td><span th:text="${reservedinfo.menu}">menu</td><br>
                <td><span th:text="${reservedinfo.price}">price</span>円</td><br>
                <td><span th:text="${reservedinfo.DateAndTime}">DateAndTime</span></td><br>
                <td><span th:text="${reservedinfo.item}">item</span></td>
                <td>
                    <form th <form th:action="@{/shops/reserved/{reservedId}/delete(reservedId=${reservedinfo.reserveId})}" method="post">
                        <button type="submit">予約取消</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>