<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(アルバム一覧 )}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>横浜周辺店舗一覧 </h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>周辺店舗 </th>
                <th>営業時間 </th>
                <th>住所 </th>
                <th>価格帯 </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="shop : ${shops}">
                <td><span th:text="${shop.shopId}">shopid</span></td>
                <td><a th:href="@{/shops/{shopId}(shopId=${shop.shopId})}"><span th:text="${shop.shopName}">shopname</span></a></td>
                <td><span th:text="${shop.openingHours}">shopopeningHours</span></td>
                <td><span th:text="${shop.shopAddress}">shopAddress</span></td>
                <td><span th:text="${shop.priceRange}">shopkakaku</span>円</td>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>