@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    background-image: url("../image/haikei.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    font-family: 'Noto Serif JP', sans-serif;
}