@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    background-image: url("../image/haikei.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    font-family: 'Noto Serif JP', sans-serif;
}

/* 6/19スタイリスト一覧のテーブル修正 */
th {
    overflow-wrap: normal;
    word-break: keep-all;
}