<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(アルバム詳細 )}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>アルバム詳細 </h3>
    <table>
        <tr>
            <th>店舗ID </th>
            <td th:text="${shop.shopId}"></td>
        </tr>
        <tr>
            <th>店舗名 </th>
            <td th:text="${shop.shopName}"></td>
        </tr>
        <tr>
            <th>営業時間 </th>
            <td th:text="${shop.openingHours}"></td>
        </tr>
        <tr>
            <th>店舗住所 </th>
            <td th:text="${shop.shopAddress}"></td>
        </tr>
        <tr>
            <th>価格帯 </th>
            <td th:text="${shop.priceRange}">円</td>
        </tr>
    </table>
    <a href="/albums">周辺店舗一覧に戻る </a><br>
    <a th:href="@{/shops/items/{shopId}(shopId=${shop.shopId})}">商品一覧 </a><br>
    <a href="/shops/menus">メニュー一覧 </a>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>